src/main/resources/OrderProcessingService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://axis2.gayanw.wso2.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://axis2.gayanw.wso2.com/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://axis2.gayanw.wso2.com">
    <wsdl:types>
        <xs:schema xmlns:ax22="http://axis2.gayanw.wso2.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://axis2.gayanw.wso2.com">
            <xs:import namespace="http://axis2.gayanw.wso2.com/xsd"/>
            <xs:element name="getProductById">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProductByIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Product"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOrderById">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOrderByIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Order"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLastProductId">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLastProductIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLastOrderId">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLastOrderIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createProduct">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element name="value" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createOrder">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="addProductToOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="orderId" type="xs:int"/>
                        <xs:element name="productId" type="xs:int"/>
                        <xs:element name="count" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://axis2.gayanw.wso2.com/xsd">
            <xs:complexType name="Product">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" type="xs:float"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Order">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="total" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createOrderRequest">
        <wsdl:part name="parameters" element="ns:createOrder"/>
    </wsdl:message>
    <wsdl:message name="addProductToOrderRequest">
        <wsdl:part name="parameters" element="ns:addProductToOrder"/>
    </wsdl:message>
    <wsdl:message name="getOrderByIdRequest">
        <wsdl:part name="parameters" element="ns:getOrderById"/>
    </wsdl:message>
    <wsdl:message name="getOrderByIdResponse">
        <wsdl:part name="parameters" element="ns:getOrderByIdResponse"/>
    </wsdl:message>
    <wsdl:message name="getLastProductIdRequest">
        <wsdl:part name="parameters" element="ns:getLastProductId"/>
    </wsdl:message>
    <wsdl:message name="getLastProductIdResponse">
        <wsdl:part name="parameters" element="ns:getLastProductIdResponse"/>
    </wsdl:message>
    <wsdl:message name="createProductRequest">
        <wsdl:part name="parameters" element="ns:createProduct"/>
    </wsdl:message>
    <wsdl:message name="getLastOrderIdRequest">
        <wsdl:part name="parameters" element="ns:getLastOrderId"/>
    </wsdl:message>
    <wsdl:message name="getLastOrderIdResponse">
        <wsdl:part name="parameters" element="ns:getLastOrderIdResponse"/>
    </wsdl:message>
    <wsdl:message name="getProductByIdRequest">
        <wsdl:part name="parameters" element="ns:getProductById"/>
    </wsdl:message>
    <wsdl:message name="getProductByIdResponse">
        <wsdl:part name="parameters" element="ns:getProductByIdResponse"/>
    </wsdl:message>
    <wsdl:portType name="OrderProcessingServicePortType">
        <wsdl:operation name="createOrder">
            <wsdl:input message="ns:createOrderRequest" wsaw:Action="urn:createOrder"/>
        </wsdl:operation>
        <wsdl:operation name="addProductToOrder">
            <wsdl:input message="ns:addProductToOrderRequest" wsaw:Action="urn:addProductToOrder"/>
            <wsdl:output message="ns:null" wsaw:Action="urn:addProductToOrderResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getOrderById">
            <wsdl:input message="ns:getOrderByIdRequest" wsaw:Action="urn:getOrderById"/>
            <wsdl:output message="ns:getOrderByIdResponse" wsaw:Action="urn:getOrderByIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getLastProductId">
            <wsdl:input message="ns:getLastProductIdRequest" wsaw:Action="urn:getLastProductId"/>
            <wsdl:output message="ns:getLastProductIdResponse" wsaw:Action="urn:getLastProductIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createProduct">
            <wsdl:input message="ns:createProductRequest" wsaw:Action="urn:createProduct"/>
        </wsdl:operation>
        <wsdl:operation name="getLastOrderId">
            <wsdl:input message="ns:getLastOrderIdRequest" wsaw:Action="urn:getLastOrderId"/>
            <wsdl:output message="ns:getLastOrderIdResponse" wsaw:Action="urn:getLastOrderIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getProductById">
            <wsdl:input message="ns:getProductByIdRequest" wsaw:Action="urn:getProductById"/>
            <wsdl:output message="ns:getProductByIdResponse" wsaw:Action="urn:getProductByIdResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrderProcessingServiceSoap11Binding" type="ns:OrderProcessingServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="createOrder">
            <soap:operation soapAction="urn:createOrder" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addProductToOrder">
            <soap:operation soapAction="urn:addProductToOrder" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOrderById">
            <soap:operation soapAction="urn:getOrderById" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLastProductId">
            <soap:operation soapAction="urn:getLastProductId" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createProduct">
            <soap:operation soapAction="urn:createProduct" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getLastOrderId">
            <soap:operation soapAction="urn:getLastOrderId" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProductById">
            <soap:operation soapAction="urn:getProductById" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OrderProcessingServiceSoap12Binding" type="ns:OrderProcessingServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="createOrder">
            <soap12:operation soapAction="urn:createOrder" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addProductToOrder">
            <soap12:operation soapAction="urn:addProductToOrder" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOrderById">
            <soap12:operation soapAction="urn:getOrderById" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLastProductId">
            <soap12:operation soapAction="urn:getLastProductId" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createProduct">
            <soap12:operation soapAction="urn:createProduct" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getLastOrderId">
            <soap12:operation soapAction="urn:getLastOrderId" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProductById">
            <soap12:operation soapAction="urn:getProductById" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OrderProcessingServiceHttpBinding" type="ns:OrderProcessingServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="createOrder">
            <http:operation location="createOrder"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addProductToOrder">
            <http:operation location="addProductToOrder"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOrderById">
            <http:operation location="getOrderById"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLastProductId">
            <http:operation location="getLastProductId"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createProduct">
            <http:operation location="createProduct"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getLastOrderId">
            <http:operation location="getLastOrderId"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProductById">
            <http:operation location="getProductById"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OrderProcessingService">
        <wsdl:port name="OrderProcessingServiceHttpSoap11Endpoint" binding="ns:OrderProcessingServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/OrderProcessingService"/>
        </wsdl:port>
        <wsdl:port name="OrderProcessingServiceHttpSoap12Endpoint" binding="ns:OrderProcessingServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/OrderProcessingService"/>
        </wsdl:port>
        <wsdl:port name="OrderProcessingServiceHttpEndpoint" binding="ns:OrderProcessingServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/OrderProcessingService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
